/* style css - applies to all pages*/

.header-img{
    background-color: #e3e3e3;
    margin-top:3.5em;
}

@media (min-width:768px){.container{width:700px}}

@media (min-width:992px){.container{width:900px}}

@media (min-width:1200px){.container{width:1000px}}

.body-content{
    padding: 2.5em;
    background-color: #f2f2f2;
}

body {
    background-color: #e3e3e3;
    
}

hr.single-line {
    width: auto;
	border-top: 3px solid #d9d9d9;
}

hr.double-line {
    width: auto;
	border-top: 20px double #d9d9d9;
}

.img-square{
    height: 25em;
    width: 25em;
}

.img-gallery{
    max-width: 100%;
    max-height: 100%;
}

a{
  color: #bd3a3a;
}

a:hover{
  color: #8c0e0e;
}
.error {
    color: #FF0000;
}