.header{
    /*background: #e0f5ff; FOR BLUE HEADER*/
    background: #e3e3e3;
    padding-top: 25px;
    /*position: absolute;*/
    left: 0;
    right: 0;
}

.header img{
    max-width: 100%;
}

.headerContent{
    width: 100%;
    height: auto;
    margin: auto;
}

.headerBreak {
    width: 100%;
    height: 0;
    border-bottom: 8px solid #bd3a3a;
    /*makes the nav bar stay on the top*/
    position: fixed; 
    top: 0;
}
.headerBreak2 {
    width: 100%;
    height: 0;
    border-bottom: 4px solid #bd3a3a;
}

.nav {
    margin-top: 0px;
    height: 42px;
    background: #bd3a3a;
    /*makes the nav bar stay on the top*/
    position: fixed;
    top: 0;
    width:100%;
    left:0;
    right:0;
}
.nav ul {
    margin: 0px 0px 0px 50px;
    padding: 0;
}
.nav ul li {
    list-style: none;
}
.nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 12px 20px;
    color: white;
    
}
.nav ul li a:hover{
    background: #8c0e0e;
    /*color: white;*/
}

.body {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.outercontainer{
    background-color: #e3e3e3; 
/*
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
*/
    padding:3%;
}

.innercontainer{
   /* width: 700px;*/
    float:left;
    align-content: center;
    padding: 10px;
}

.body a{
    text-decoration: none;
}

.body a:hover{
    text-decoration: none;
    color:#bd3a3a;
}

.resumeDoc {
    width: 100%;
    height: 800px;
}

.footer {
    margin: 75px; 500px;
}